@import "tailwindcss";
@plugin "./daisyui.js";

@font-face {
    font-family: "suresh";
    src:
        url("/fonts/suresh.otf") format("truetype")      
  }
  
@font-face {
font-family: "mukesh";
src:
    url("/fonts/mukesh.ttf") format("truetype")      
}

  @theme {
    --font-header: "suresh", "sans-serif"; 
    --font-text: "mukesh", "sans-serif"; 

  }

  p, a, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-text);

  }