<div class= "w-full flex flex-col items-center">
  <h1 class="font-bold text-7xl font-header text-pink-500">GRam</h1>
  <p class="text-3xl  text-purple-500 ">A social media app built in ruby on rails</p>
  <div class="mt-4 flex items-center gap-4">
  <%= link_to "Sign In", new_session_path, class: "btn btn-primary" %>
  </div>

</div>
